n8n-workflows/log-processing-workflow.json
{
  "name": "DevOps Log Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "error_logs",
        "columns": "service_name,error_level,error_message,stack_trace,raw_log",
        "additionalFields": {}
      },
      "id": "insert-log",
      "name": "Insert Log to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Analiza este log de error y responde en JSON:\n{\n  \"category\": \"string\",\n  \"severity_score\": number,\n  \"suggested_solution\": \"string\",\n  \"confidence_score\": number\n}\n\nLog: {{ $json.raw_log }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "ai-analysis",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "ai_classifications",
        "columns": "error_log_id,category,severity_score,confidence_score,suggested_solution",
        "additionalFields": {}
      },
      "id": "save-classification",
      "name": "Save AI Classification",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.severity_score }}",
              "operation": "largerEqual",
              "value2": 8
            }
          ]
        }
      },
      "id": "check-severity",
      "name": "Check High Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "🚨 CRITICAL ERROR DETECTED\n\nService: {{ $json.service_name }}\nSeverity: {{ $json.severity_score }}/10\nCategory: {{ $json.category }}\nSolution: {{ $json.suggested_solution }}"
      },
      "id": "telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"log_id\": $('Insert Log to Supabase').item.json.id, \"analysis\": $json } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Insert Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Log to Supabase": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Save AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Classification": {
      "main": [
        [
          {
            "node": "Check High Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Severity": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}